a {
    display: block;
    background-color: white;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 3px black;
    cursor: pointer;
    font-size: 30px;
    letter-spacing: 5px;
    text-decoration: none;
    padding: 10px;
    
}


[data-anime]{
    opacity: 0;
    transition: 0.5s;
}

[data-anime="left"]{
    transform:translate3d(-50px,0,0)
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0,0,0);
}

footer{
    margin-top: 300px;
}